@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-heading: 'League Spartan', 'Inter', sans-serif;
    --font-body: 'Inter', sans-serif;
    
    --color-primary: #ceff5e;
    --color-secondary: #1c1c1c;
    --color-background: #f6f6f9;
    --color-surface: #ffffff;
    --color-outline: #e2e2e5;
}

@layer base {
  body {
    @apply bg-background text-stone-900 font-body;
  }
  h1, h2, h3, h4 {
    @apply font-heading font-bold;
  }
}
