.material-symbols-outlined {
            font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
        }
        body {
            font-family: 'Inter', sans-serif;
            background-color: #1a1c1c;
            color: #f1f1f1;
        }
        .stencil-text {
            font-family: 'Space Grotesk', sans-serif;
            letter-spacing: -0.02em;
        }